:root{
  --app-width: 95vw;
  --app-max-width: 1500px;
  --background-color: #000;
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

