body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

main {
  padding: 2rem;
  min-height: calc(100vh - 120px); /* Ajustez en fonction de la hauteur du header et du footer */
}